<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ditital-twin-initializer/src/main/java/de/dfki/cos/twinficient/digitaltwin/initializer/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="TF_AAS_REPO_ADDRESS" value="http://127.0.0.1:8081"/>
        <mapEntry key="TF_CONFIG_FOLDER" value="${project_loc}/config/byCompany"/>
        <mapEntry key="TF_LOG_LEVEL" value="FINE"/>
        <mapEntry key="TF_SM_REPO_ADDRESS" value="http://127.0.0.1:8081"/>
        <mapEntry key="TF_USE_FILE_POLLING" value="true"/>
        <mapEntry key="TF_INFLUX_BUCKET" value="twinficient-score"/>
        <mapEntry key="TF_INFLUX_ORG" value="twinficient"/>
        <mapEntry key="TF_INFLUX_TOKEN" value="tsLB_v2qmShWCyHFkc3k4R8W-nfi5xwh_BqAc_0oCgunFpsuA6-jzmXW1FvD4SLSg1aI7KWjgfRghxj7koMDVA=="/>
        <mapEntry key="TF_INFLUX_URL" value="http://localhost:8086"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.dfki.cos.twinficient.digitaltwin.initializer.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ditital-twin-initializer"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="add"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ditital-twin-initializer"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
